$header-height: 50px;
$sidebar-mini-width: 46px;

.app {
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	flex-wrap: wrap;

	&-header {
		flex: 0 1 100%;
		@include flexbox(row, center, flex-start);
		height: $header-height;
		color: var(--el-text-color-primary);
		background: #fff;
		box-shadow: 0 0 0 1px rgb(49 49 93 / 5%), 0 2px 5px 0 rgb(49 49 93 / 8%), 0 1px 3px 0 rgb(49 49 93 / 15%);
		padding: 0 1rem;
		z-index: 2;
		
		a {
			text-decoration: none;
		}

		svg {
			// opacity: .3;
		}
	}

	&-branding {

		font-size: 18px;
		font-weight: 600;
		text-shadow: 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 1px 2px rgb(0 0 0 / 30%), 0px 3px 9px rgb(0 0 0 / 10%);
		a {
			@include flexbox(row, center, flex-start);
			line-height: 50px;
			padding: 0 1rem;

			svg {
				color: var(--color-highlight);
				font-size: 1.6rem;
			}
		}
	}

	&-sidebar {
		width: $sidebar-mini-width;
		transition: width .2s ease-in-out;
		overflow: hidden;
		border-right: 1px solid var(--el-border-color);
		background: var(--color-primary-back);

		.sidebar-normal {
			display: block;
			transition: all .2s;
			transform: translate3d(-25px, 0, 0);
			opacity: 0;
			white-space: nowrap;
			position: relative;
			z-index: 0;
		}
		
		.sidebar-mini {
			margin-right: 10px;
			z-index: 3;
		}		

		body:not(.sidebar-mini) &,
		&:hover {
			width: 15rem;

			.sidebar-normal {
				opacity: 1;
				transform: translate3d(0, 0, 0);
				z-index: 3;
			}
		}

		.sidebar-mini & {
			position: fixed;
			top: $header-height;
			height: 100%;
			z-index: 1;

			&:not(:hover) {
				.nav-group {
					height: 0;
					opacity: 0;
					margin: 0;
				}
			}
		}

		.submenu {
			padding-left: 2.5rem;
		}
	}

	&-main {
		height: 100%;
		overflow: hidden;
		box-sizing: border-box;
		@include flexbox(column, stretch);
		flex: 1;

		.sidebar-mini & {
			margin-left: $sidebar-mini-width;
		}
	}

	&-empty {
		@include flexbox(row, center, center);
		flex: 1;
	}

	&-nav {
		height: 100%;

		.nav { 
			height: 100%;
			@include reset-list();

			.nav-item {
				cursor: pointer;

				.nav-link {
					line-height: 40px;
					@include flexbox(row, center, flex-start);
					padding: 0 14px;

					svg {
						white-space: nowrap;
						width: 18px;
					}

					&:hover {
						svg {
							color: var(--el-color-primary);
						}
					}

					&.active {
						color: var(--el-color-primary);
					}
				}
			}

			.nav-group {
				font-size: 12px;
				padding: 0 14px;
				opacity: .4;
				margin-top: 10px;
			}
		}
	}
}