.image-transparent-back {
    display: inline-block;
    background-image: linear-gradient(45deg, #eee 25%, transparent 25%), linear-gradient(-45deg, #eee 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #eee 75%), linear-gradient(-45deg, transparent 75%, #eee 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.asset-library {

    .el-button {
        &[active=true] {
            color: var(--el-button-active-text-color);
            border-color: var(--el-button-active-border-color);
            background-color: var(--el-button-active-bg-color);
            outline: 0;
            z-index: 1;
        }
    }

    .asset-inline {
        display: flex;
        align-items: center;

        .thumbnail {
            width: 45px;
            height: 45px;
            margin-right: 20px;
            border-radius: 6px;
        }
    }
}
