.data-table {
	width: 100%;

	th {
		font-weight: 500;
		color: #000;
		border-bottom: 1px solid var(--el-border-color-lighter);

		.header-cell {
			padding: 0 1rem .5rem;

			.sortable {
				cursor: pointer;

				&:hover {
					color: var(--el-color-primary)
				}

				svg {
					transition: transform .2s;
				}

				&.desc {
					font-weight: 600;

					svg {
						transform: rotate(-180deg);
						transform-origin: center;
					}
				}
				&.asc {
					font-weight: 600;
				}
			}
		}
	}

	tr {
		border-bottom: 1px solid var(--el-border-color-lighter);

		&:hover {
			background: var(--el-fill-color-light);
		}


		td {
			padding: 10px 0;
			overflow-wrap: break-word;

			.cell {
				padding: 0 1rem;
				line-height: 1;			
			}
		}
	}

	.el-checkbox {
		height: unset;
	}

	.text {
		&-left {
			text-align: start;

			.sortable {
				justify-content: flex-start;
			}
		}
		&-right {
			text-align: end;
			.sortable {
				justify-content: flex-end;
			}
		}
		&-center {
			text-align: center;
			.sortable {
				justify-content: center;
			}
		}
	}
}

.icon-status {
	border-radius: 7px;
	display: inline-block;
	height: 7px;
	width: 7px;
	flex-shrink: 0;
	background: var(--color-light-back-darker); //#dde3e9;

	&.success {
		background: var(--el-color-success)
	}

}

$action-icon-size: 18px;
.resource-table {
	.el-table {
		
		.el-table__cell {
			padding: 10px 0;
		}

		.cell {
			line-height: 1
		}
	}
	.action-icon {
		cursor: pointer;
		color: var(--el-table-header-text-color);
		display: inline-block;
		line-height: 0;

		&:hover {
			color: var(--el-color-primary);

			&.danger {
				color: var(--el-color-danger);
			}
		}

		&.delete {
			color: var(--el-color-danger);
		}

	}
}

.resource-table,
.has-actions {
	.el-icon {
		width: $action-icon-size;
		height: $action-icon-size;

		svg {
			width: $action-icon-size;
			height: $action-icon-size;
		}
	}
}