.app {
    .sidebar-toggle {
        @include flexbox(row, center, center);
        width: var(--sidebar-mini-width);
        cursor: pointer;
        line-height: 0;
        opacity: 0.6;
        color: #3f4458;

        svg {
            transition: all 0.2s;

            .sidebar-mini & {
                transform: rotate(180deg);
            }
        }
    }

    &-branding {
        font-size: 20px;
        font-weight: 500;

        a {
            @include flexbox(row, center, flex-start);
            line-height: 50px;
            padding: 0 1rem;

            svg {
                color: var(--color-highlight);
                font-size: 1.6rem;
            }
        }
    }
}
