.icon-status {
	border-radius: 7px;
	display: inline-block;
	height: 7px;
	width: 7px;
	flex-shrink: 0;
	background: var(--color-light-back-darker); //#dde3e9;

	&.success {
		background: var(--el-color-success)
	}

}

$action-icon-size: 18px;
.resource-table {
	.el-table {

		thead {
			color: var(--el-text-color-regular);
		}
		
		.el-table__cell {
			padding: 10px 0;
		}

		.cell {
			line-height: 1
		}

		.edit-link {
			&:hover {
				color: var(--el-color-primary);
			}
		}
	}

	img {
		max-width: 100%;
		height: auto;

		&.avatar {
			width: 2rem;
			height: 2rem;
		}
	}
}

.resource-table,
.has-actions {
	
	.action-icon {
		cursor: pointer;
		display: inline-block;
		line-height: 0;

		&:hover {
			color: var(--el-color-primary);

			&.danger {
				color: var(--el-color-danger);
			}
		}

		&.delete {
			color: var(--el-color-danger);
		}

		&.button {
			margin: 0 10px 0 0;
		}

	}

	.el-icon {
		width: $action-icon-size;
		height: $action-icon-size;

		svg {
			width: $action-icon-size;
			height: $action-icon-size;
		}
	}
}

.actions-wrap {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	opacity: 0;
	transition: all .2s;
	padding: 0 0 0 30px;

	.hover-row  & {
		background: linear-gradient(90deg, rgba(255,255,255,0) 0%, var(--el-fill-color-light) 5%);
		opacity: 1;
	}
	.has-actions:hover & {
		opacity: 1;
	}

	.action-buttons,
	.el-button-group {
		display: flex;
		height: 100%;
		align-items: center;
	}

	.el-button--small {
		padding: 5px 8px;
	}
}