.app-nav {
    height: 100%;

    .nav {

        .nav-item {
            cursor: pointer;

            .nav-link {
                line-height: 40px;
                @include flexbox(row, center, flex-start);
                padding: 0 18px;

                svg {
                    white-space: nowrap;
                    width: 18px;
                }

                &:hover,
                &.active {
                    background: var(--sidebar-active-bg);
                    color: var(--sidebar-active-fg);

                }

                &.active {
                    svg {
                        color: var(--sidebar-active-icon);
                    }
                }
            }

            &.divider {
                &:after {
                    content: '';
                    display: block;
                    border-bottom: 1px solid var(--sidabr-divider);
                    margin: 5px 10px 0;
                    opacity: .7;
                }

                &+.nav-item {
                    margin-top: 12px;
                }
            }

            .has-badges {
                .sidebar-mini {
                    svg {
                        color: var(--el-color-error);
                    }
                }
            }
        }

        .nav-group {
            font-size: 12px;
            padding: 0 14px;
            opacity: .6;
            margin: 10px 0 6px;
            text-transform: uppercase;
        }

        .badge {
            display: inline-block;
            margin-left: auto;
            font-size: 10px;
            line-height: 1.2;
            border-radius: 3px;
            padding: 0 4px;
            color: #fff;

            &.info {
                background: var(--el-color-primary);
            }

            &.warning {
                background: var(--el-color-error);
            }
        }
    }

    .submenu {
        margin-left: 26px;
        border-left: 1px dashed var(--el-color-info);

        .nav {
            .nav-item {
                .nav-link {
                    padding: 0 10px 0 20px;
                    opacity: .7;
                    font-size: 14px;
                    line-height: 30px;
                }
            }
        }
    }
}

.breadcrumb {
    display: flex;
    align-items: center;
    opacity: .8;

    i {
        margin-right: 5px;
    }
}
