// @import 'element/variables.scss';
@import 'mixins/mixins';

:root {
    interpolate-size: allow-keywords;

    --color-primary-back: #f5f5f5;
    --color-primary-back-lighter: #f3f7fa9c;
    --color-primary-back-darker: #2e3c40;
    --color-secondary-back: #2f353a;
    --color-light-back: #f4f3ef;
    --color-light-back-darker: #dcdcd4;
    --color-highlight: #20a8d8;
    --color-editor-blue: #2c657c;
    --color-light-blue: #f5f7fa;
    --color-overlay-back: rgba(0, 0, 0, .2);

    --accordion-btn-icon-width: 18px;
    --accordion-btn-icon: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22icon%20icon-1%22%3E%3Cpath%20d%3D%22M6%209l6%206l6%20-6%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
    --accordion-btn-icon-transition: transform .2s ease-in-out;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: Nunito, system-ui, -apple-system, sans-serif;
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1 {
    font-size: var(--el-font-size-extra-large);
}

ul {
    .icon-item {
        @include flexbox(row, center, flex-start);
    }
}

@import 'partials/app';
@import 'partials/header';
@import 'partials/nav';
@import 'partials/list-table';
@import 'partials/form';
@import 'partials/asset-library';
@import 'partials/drawer';

/* Components */
@import 'components/popover';
@import 'components/actionsDropdown';
@import 'components/uploader';
@import 'components/text-editor';
@import 'components/accordion';

/* Element Overwrites */
.invicta {
    @import 'element/custom.scss';
}
