@use 'text-editor/core';
@use 'text-editor/toolbar';
@use 'text-editor/editor';
@use 'text-editor/tooltip';
@use 'text-editor/table';

.text-editor {
    --toolbar-bg-color: var(--lpm-light);
    --toolbar-fg-color: #000;

    --toolbar-svg-width: 1.2rem;

    --toolbar-control-width: 2rem;
    --toolbar-control-height: 2rem;

    --toolbar-btn-hover-bg: var(--lpm-gray-100);
    --toolbar-btn-hover-fg: var(--lpm-primary);
    --toolbar-btn-active-bg: var(--lpm-gray-100);
    --toolbar-btn-active-fg: var(--lpm-info);

    --toolbar-color-item-size: 1rem;

    --editor-bg-color: #fff;
    --tooltip-margin: .255rem;

    .el-form-item__content {
        display: grid;
        border-radius: var(--el-border-radius);
        border: 1px solid var(--el-border-color);
        overflow: hidden;

        .ql-hidden {
            display: none;
        }
    }
}
